@import "tailwindcss";

@theme{
  --color-primary-100: #658A9E;
  --color-secondary-1-100: #6986A2;
  --color-secondary-2-100: #60919A;
  --color-primary-200: #3A677F;
  --color-secondary-1-200: #3D6082;
  --color-secondary-2-200: #36717C;
  --color-primary-300: #1F4D66;
  --color-secondary-1-300: #214568;
  --color-secondary-2-300: #1C5863;
  --color-primary-400: #0A3349;
  --color-secondary-1-400: #0C2C4B;
  --color-secondary-2-400: #083D47;
  --color-primary-500: #021D2C;
  --color-secondary-1-500: #02182D;
  --color-secondary-2-500: #01242A;
}
